<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Inter-rater Reliability</title>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/d3.v3.js"></script>
		<script type="text/javascript" src="js/colorbrewer.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/spin.min.js"></script>
		<script type="text/javascript" src="js/spin_helper.js"></script>
		<!-- app -->
		<script type="text/javascript" src="js/bb_hack.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/app/models.js"></script>
		<script type="text/javascript" src="js/app/overall_views.js"></script>
		<script type="text/javascript" src="js/app/user_views.js"></script>
		<script type="text/javascript" src="js/app/code_views.js"></script>
		<script type="text/javascript" src="js/app/main_views.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/app/router.js"></script>

		<!-- css -->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/colorbrewer.css" rel="stylesheet" type="text/css">
		<link href="css/default.css" rel="stylesheet" type="text/css">


		<style type="text/css">
		</style>
		<script>
			var sessionSVG = null;
			var selectedYear = 2004, isSelectingDate = false;

			//
			//
			//
			//
			//
			function transformPairs(data) {
				res = { data: {}, extra: {} };
				var timerange = [Number.MAX_VALUE, Number.MIN_VALUE];
				var range = [Number.MAX_VALUE, Number.MIN_VALUE];
				var bins = {};
				var histogram = {};
				var pair_data = {};
				var point_details = {};

				var overall_sum = 0;
				var overall_cnt = 0;

				// MASTER LOOP (because, what other name would be so vague yet so awesome?)
				// 
				// calculated in this loop
				// 1. min/max timerange
				// 2. min/max line number
				// 3. 
				data.forEach(function(d,i){
					var point_sum = 0;
					var point_cnt = 0;
					var linenum = 0;
					for(var pair in d3.values(possible_pairs)) {
						var pair_name = possible_pairs[pair];
						var value_str = d[pair_name]
						var value = +value_str;

						linenum = +d.id;

						// calculate min/max time & line numbers
						timerange[0] = Math.min(timerange[0],Date.parse(d.time));
						timerange[1] = Math.max(timerange[1],Date.parse(d.time));
						range[0] = Math.min(range[0], linenum);
						range[1] = Math.max(range[1], linenum);

						// if pairname is valid and in our data
						if(pair_name in d && value_str != undefined && value_str != null && value_str != "") {
							if(!(linenum in bins)) {
								bins[linenum] = {};
							}
							bins[linenum][pair_name] = value;

							// point data
							point_cnt++;
							point_sum += value;

							// pair data
							/*
							if(!(pair_name in pair_data)) {
								pair_data[pair_name] = {
									cnt: 1,
									sum: value,
									avg: 0,
									stddev: 0
								}
							} else {
								pair_data[pair_name].cnt++;
								pair_data[pair_name].sum+= value;
							}*/

							// check if our data is in the pair already
							if(!(pair_name in res.data)){
								res.data[pair_name] = {}
							}

							//res[pair_name][d.time] = d[pair_name];
							res.data[pair_name][linenum] = value;

							// histogram
							if( !(value in histogram)) {
								histogram[value] = 0;
							}
							histogram[value]++;

							overall_sum += value;
							overall_cnt++;

						}
					}

					var point_avg = point_sum/point_cnt;
					var point_var = 0;
					for(var pair in d3.values(possible_pairs)) {
						var pair_name = possible_pairs[pair];
						var value = +d[pair_name];
						if(pair_name in d && value != undefined && value != null && value != "") {
							var diff = value - point_avg;
							point_var += Math.pow(diff,2);
						}
					}
					point_var /= point_cnt;
					var point_sd = Math.sqrt(point_var);

					//console.log('point sd: ' + point_sd);

					point_details[linenum] = {
						sum: point_sum,
						cnt: point_cnt,
						avg: point_avg,
						ssq: point_var,
						sd: point_sd
					}

				});

				//console.log('calcing pair_data');
				for(var pair in res.data) {
					var values = d3.values(res.data[pair]);
					var pair_extent = d3.extent(values);
					var pair_sum = d3.sum(values);
					var pair_avg = pair_sum / values.length;

					//console.log(Utils.Math.trunc(pair_avg,2));

					pair_data[pair] = {
						cnt: values.length,
						sum: pair_sum,
						avg: pair_avg,
						variance: 0,
						stddev: 0,
						min: pair_extent[0],
						max: pair_extent[1]
					};

					var ssq = 0;
					for(var i = 0; i < values.length; i++ ) {
						ssq += Math.pow((values[i] - pair_avg),2);
					}
					pair_data[pair].variance = ssq / values.length;
					pair_data[pair].stddev = Utils.Math.trunc(Math.sqrt(ssq/values.length),2);
					//console.dir(pair_data[pair]);
				}


				// loop back through and calculate the means, s^2, and s of the pairs
				// 
				/*
				data.forEach(function(d,i){
					var linenum = 0;
					for(var pair in d3.values(possible_pairs)) {
						var pair_name = possible_pairs[pair];
						var value_str = d[pair_name]
						var value = +value_str;

						linenum = +d.id;

						// if pairname is valid and in our data
						if(pair_name in d && value_str != undefined && value_str != null && value_str != "") {
							if(!(linenum in bins)) {
								bins[linenum] = {};
							}

						}

					}

				});
				*/



				res.extra['timerange'] = timerange;
				res.extra['range'] = range;
				res.extra['histogram'] = histogram;
				res.extra['overall'] = { avg: (overall_sum / overall_cnt), sum: overall_sum, cnt: overall_cnt, ssq: 0, sd: 0};
				res.extra['pair_data'] = pair_data;
				res.extra['point_data'] = point_details;

				/*
				console.log("after transform");
				console.dir(res);
				console.log('bins');
				console.dir(bins);
				console.dir(histogram);
				console.log('overall_sum: ' + overall_sum);
				console.log('overall_cnt: ' + overall_cnt);
				console.log('overall average: ' + (overall_sum / overall_cnt));
				*/
				return res;
			}




			/*
			 * 1. First find all unique line ids in the data
			 * 2. Aggregate all agreement values in that dataset
			 * 3. Caclulate Mean, stddev
			 * 4. Calculate appropriate UB/LB confidence intervals
			 *
			 *
			 *
			 *
			 */
			function processSessionData(data) {
				bins = {}



			}


			//
			// build OverallNest
			// 
			function groupOverallDataByYearAndDate(data) {
				var format = d3.time.format("%Y-%m-%d %H:%M:%S");
				var dayFormat = d3.time.format("%Y-%m-%d");

				dataMap = d3.nest()
					.key(function(d){
						return ((new Date(format.parse(d.time))).getYear() + 1900);
					})
					.key(function(d){ 
						fulldate = new Date(format.parse(d.time));
						date = new Date(fulldate.getYear() + 1900, fulldate.getMonth(), fulldate.getDate())
						return dayFormat(date); 
					})
					.entries(data);

				console.log("dataMap");
				console.dir(dataMap);

				console.dir(d3.keys(dataMap));
			}


			//
			// parses out all possible pair combinations from the header of the overall_csv file
			//
			function parsePossiblePairs(data) {
				possible_pairs = Object.keys(data[0]);
				possible_pairs = possible_pairs.filter(function(d){
					return (d.indexOf('-') != -1);
				});
				console.dir(possible_pairs);
			}

			//
			// ready
			//
			$(document).ready(function() {  
				var spinner = $('body').spin("small");

				d3.csv("data/15line.csv", function(overall_data) {
					d3.csv("data/codes.csv", function(csv2){
						d3.csv("data/users15.csv", function(csv3) {
							console.log('got csvs!');
							console.dir(overall_data);
							console.dir(csv2);
							console.dir(csv3);

							// group the overall data by year and date
							groupOverallDataByYearAndDate(overall_data);

							// grab our possible pairs
							parsePossiblePairs(overall_data);

							// Start our application
							router = new IRA.IRAApp();

							// 
							spinner.spin(false);

						});
					});
				});

			});
		</script>

	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<legend>Inter-rater Reliability</legend>
			</div>

			<div class="row-fluid">
				<div class="btn-group" data-toggle="buttons-radio" id="mode-select">
  					<button type="button" class="btn btn-primary active" data-mode="0">All</button>
  					<button type="button" class="btn btn-primary" data-mode="1">Users</button>
  					<button type="button" class="btn btn-primary" data-mode="2">Codes</button>
				</div>
			</div>
			<div id="main-view" class="row-fluid"></div>
			<div id="sub-view" class="row-fluid"></div>
		</div>        
	</body>

	<script type="text/template" id="templ-main">
		<div class="row-fluid">
			<div id="yearselect">
				<ul class="nav nav-pills"></ul>
			</div>
			<div id="sessions" class="span10"></div>              
		</div>	
		<div id="graph" class=""></div>
		<div id="sidepanel" class="scrolllist">
			<h4>Frequencies</h4>
			<div id="sp-histogram"></div>
			<h4>Details</h4>
			<div id="sp-details"></div>
			<h4>Coders</h4>
			<div class="scrolllist" id="sp-coderlist">
			</div>
		</div>	
	</script>
	<script type="text/template" id="templ-users">
		<div id="graph" class=""></div>
		<div id="sidepanel" class="scrolllist">
			<h4>Details</h4>
			<div id="sp-details"></div>
			<h4>Coders</h4>
			<div class="scrolllist" id="user-list">
			</div>
		</div>	
	</script>
	<script type="text/template" id="templ-codes">
		<div id="graph" class=""></div>
		<div id="sidepanel" class="scrolllist">
			<h4>Details</h4>
			<div id="sp-details"></div>
			<h4>Codes</h4>
			<div class="scrolllist">
				<div id="code-list-header" class="code-line">
					<div><i class="icon-eye-close"></i></div>
					<div><i class="icon-star"></i></div>
					<div>#</div>
					<div>Mean</div>
				</div>
				<ul id="sp-codes">
				</ul>
			</div>
		</div>	
	</script>
	<script type="text/template" id="templ-layerlist">
		<div class="layer-item layer-header">
			<div><i class="icon-eye-close"></i></div>
			<div><i class="icon-star"></i></div>
			<div>#</div>
			<div>Mean</div>
		</div>
		<ul class="layerlist-body">
		</ul>

	</script>
	<script type="text/template" id="templ-layerlistitem">
		<div class="vis-toggle"><% if(visible) { %><i class="icon-eye-open"></i><% } else { %><i class="icon-eye-close ll-unselected"></i><% } %></div>
		<div class="spotlight-toggle"><% if(spotlight) { %><i class="icon-star"></i><% } else { %><i class="icon-star-empty ll-unselected"></i><% } %></div>
		<div><%= name %></div>
		<div><%= details %></div>
	</script>
</html>