body {
  padding-top: 10px;
}

#graph {
  font: 14px sans-serif;
  /*
  shape-rendering: crispEdges;
  */
}
            
.axis text {
    font-family: sans-serif;
    font-size: 10px;
    font-color: #aaa;
    fill: #666;
    stroke-width:0px;
}

.axis {
  shape-rendering: crispEdges;
}


.axis line {
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .minor {
  stroke: #f0f0f0;
}

g.axis {
  fill: #ccc;
  background-color: #ccc;
}

.axis path {
  fill: none;
  stroke: #888;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis line.tick {
  stroke: #ccc;
  stroke-width: 1px;
}

#sessions {
  overflow-x: scroll;
}

.day {
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.day:hover {
  stroke: #f00;
  stroke-width: 2px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
  transition: all 0.5s;
}

path.line:hover {
  stroke: #f00;
  stroke-width: 3px;
  transition: stroke 0.1s, stroke-width 0.1s;
  -webkit-transition: stroke 0.1s, stroke-width 0.1s;
  -moz-transition: stroke 0.1s, stroke-width 0.1s;
  -o-transition: stroke 0.1s, stroke-width 0.1s;
}

/*
 *
 * general session stuff
 *
 */


#sessions text {
  font-size: 10px;
}


#main-view {
  height: 480px;
}


#graph, #sp-histogram {
  display: block;
}

#graph {
  width: 80%;
  height: 100%;
  float: left;
}

#sp-histogram {
  width: 90%;
  height: 80px;
  margin-left:auto;
  margin-right:auto;
  background: #fff;
  box-shadow: 0px 0px 5px 1px #aaa;
}

#sp-histogram .axis text {
  font-size: 7px;
}

/* override bootstraps nav margin */
ul.nav {
  margin-bottom: 5px;
}


#sidepanel {
  background: #eee;
  width: 19%;
  height: 100%;
  float: left;
  padding: 5px;
  border-radius: 5px;
}


.scrolllist {
  overflow: scroll;
}

.hover-hilight path {
  stroke: #f00 !important;
  stroke-width: 2px !important;
}

/*
 *
 * overview sidepanel
 *
 */

#sidepanel label {
  display: inline;
  font-weight: bold;
  min-width: 10em;
  margin-right: 2em;
}

#sp-coders .coder-line span {
  color: #aaa;
}

#sidepanel li {
  list-style-type: none;
}

#coder-list-header {
  background: #ddd;
}

.coder-line > div {
  display: inline-block;  
}

.coder-line div:nth-child(1), .coder-line div:nth-child(2) {
  width: 20px;
}

.coder-line div:nth-child(3) {
   width: 3em;
}

.coder-line div:nth-child(4) {
   width: 7em;
}




